@font-face {
    font-family: "iconfont";
    /* Project id 3678405 */
    src: url('iconfont.woff2?t=1664520898882') format('woff2'), url('iconfont.woff?t=1664520898882') format('woff'), url('iconfont.ttf?t=1664520898882') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 22px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-shoucang-shoucang:before {
    content: "\e607";
    font-size: 30px;
    color: #fff;
}

.icon-jimu2:before {
    content: "\e60f";
}

.icon-qichepiao:before {
    content: "\e89d";
}

.icon-ren1:before {
    content: "\e6c5";
}

.icon-hua:before {
    content: "\e62d";
}

.icon-shafa1:before {
    content: "\e724";
}

.icon-shiwu-2:before {
    content: "\ebe6";
}

.icon-shu3:before {
    content: "\e61c";
}

.icon-dianzan_kuai:before {
    content: "\ec8c";
    font-size: 30px;
    color: #fff;
}

.icon-tupian:before {
    content: "\e67f";
}

.icon-zhuangshipin:before {
    content: "\e603";
}

.icon--panda:before {
    content: "\e755";
}

.icon-other:before {
    content: "\e637";
}